// ClearCove colors
$red-deep: #440016;
$red-base: #970012;
$red-soft: #ff6977;
$red-tint: #ffe6e6;
$orange-deep: #572500;
$orange-base: #ec6600;
$orange-soft: #ff9368;
$orange-tint: #ffe4d6;
$green-deep: #002010;
$green-base: #005729;
$green-soft: #6bd690;
$green-tint: #d7ffe5;
$turquise-deep: #002e2d;
$turquise-base: #007a79;
$turquise-soft: #5eefef;
$turquise-tint: #cefafa;
$blue-deep: #002145;
$blue-base: #0064b4;
$blue-soft: #55b9ff;
$blue-tint: #def1ff;
$blue-ultra-soft: #CFE3F6;
$purple-deep: #2b0428;
$purple-base: #6b1969;
$purple-soft: #e074d4;
$purple-tint: #ffe0fd;
$gray-deep: #1c1c1c;
$gray-base: #3f3f3f;
$gray-soft: #979797;
$gray-softer: #ccc;
$gray-tint: #e8e8e8;
$gray-ultra-tint: #f2f2f2;
$yellow-soft: #fffe6b;
$yellow-tint: #fffed3;

$clearcove-blue: $blue-base;
$clearcove-green: $green-base;

$idle-grey: #c0c2c4;
$hover-grey: #656769;
$yellow-highlight: $yellow-tint;
$background-color: $blue-tint;
