<div class='footer'>
  <div class='container'>
    <div class='row'>
      <div class='span3'>
        <h4><a href="/blog">Blog</a></h4>
        {% for post in site.posts limit:3 %}
          <p>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <br/>
            <span class="muted">{{ post.date | date: "%b %-d, %Y" }}</span>
          </p>
        {% endfor %}
      </div>
      <div class='span2'>
        <h4>Curated news</h4>
        <ul class='unstyled'>
          <li><a href="/ruby-on-rails-news">Ruby on Rails news</a></li>
          <li><a href="/clojurescript-news">ClojureScript news</a></li>
        </ul>
      </div>
      <div class='span2'>
        <h4>More info</h4>
        <ul class='unstyled'>
          <li><a href="/about-clearcove">About ClearCove</a></li>
          <li><a href="/about-jo-hund">About Jo Hund</a></li>
          <li><a href="/open-source">Open source</a></li>
        </ul>
      </div>
      <div class='span2'>
        <h4>Get in touch</h4>
        <ul class='unstyled'>
          <li><a href="mailto:jhund@clearcove.ca">jhund@clearcove.ca</a></li>
          <li><a href="http://twitter.com/jhund">Twitter (@jhund)</a></li>
          <li><a href="http://github.com/jhund">Github (jhund)</a></li>
        </ul>
      </div>
      <div class='span3'>
        <h4>Search</h4>
        <ul class='unstyled'>
          <li style='margin-top: 1em;'>
            <form method="get" id="searchform" class="searchform form" action="https://duckduckgo.com/" role="search">
              <div class='input-append'>
                <input class='span2' type='text' name="q"/>
                <input type='hidden', name='sites' value='clearcove.ca'/>
                <button class='btn' title='Search clearcove.ca' type='submit'>
                  <i class='icon-search'></i>
                </button>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
    <div class='muted' style='text-align: center; margin: 2em 0;'>
      &copy; 2006 - {{ site.time | date: '%Y' }} ClearCove&nbsp;Software,&nbsp;Inc.
    </div>
  </div>
</div>
